<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pledge.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @pledge.content %>
</p>

<p>
  <strong>Title2:</strong>
  <%= @pledge.title2 %>
</p>

<p>
  <strong>Content2:</strong>
  <%= @pledge.content2 %>
</p>

<p>
  <strong>Title3:</strong>
  <%= @pledge.title3 %>
</p>

<p>
  <strong>Content3:</strong>
  <%= @pledge.content3 %>
</p>

<%= link_to 'Edit', edit_pledge_path(@pledge) %> |
<%= link_to 'Back', pledges_path %>
