
<head>
  <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
  
  <script>

    $(document).ready(function(){
        $("#spreadBtn1").click(function(){
            if($("#hiddenList1").is(":visible")){
                $("#hiddenList1").slideUp();
            }else{
                $("#hiddenList1").slideDown();
            }
        });
    }); 
    $(document).ready(function(){
        $("#spreadBtn2").click(function(){
            if($("#hiddenList2").is(":visible")){
                $("#hiddenList2").slideUp();
            }else{
                $("#hiddenList2").slideDown();
            }
        });
    });
    $(document).ready(function(){
        $("#spreadBtn3").click(function(){
            if($("#hiddenList3").is(":visible")){
                $("#hiddenList3").slideUp();
            }else{
                $("#hiddenList3").slideDown();
            }
        });
    });

  </script>

  <style>
    .banner {
      height:auto; 
      width: 100%;
    }
  </style>

<head>

<body>
    <p id="notice"><%= notice %></p>    
            <%= image_tag("#{@pledge.image2}", class: "banner")%>
            <%# <div style="background-color: #7D2222; width: 100%; height: 5px; margin-top: 20px; "></div> %>
            <p style="text-align: center; font-size: 40px; margin-top: 7%;"><strong> "클릭"으로 알아보는 세부 공약! </strong></p>
            <br><br><br>
            <div style="background-color: #7D2222; width: 60px; height: 5px;"></div>
                <p id="spreadBtn1" class="btn01" style="font-size: 40px"><strong> 하나! </strong><%= @pledge.title %></p>
            <div id="hiddenList1" class="example01 shadow p-3 mb-5 bg-light rounded" style="display: none; font-size: 20px">
                <% @list = @pledge.content.split(",") %>
                <% i = 0 %>
                <% for x in @list %>
                    <%= i = i + 1 %> <%= ". #{x}" %> <p> </p>
                <% end %>
            </div>

            <div style="background-color: #7D2222; width: 60px; height: 5px;"></div>
            <p id="spreadBtn2" class="btn02" style="font-size: 40px"><strong> 둘! </strong><%= @pledge.title2 %></p>
            <div id="hiddenList2" class="example02 shadow p-3 mb-5 bg-light rounded" style="display: none; font-size: 20px">
                <% @list2 = @pledge.content2.split(",") %>
                <% i = 0 %>
                <% for x in @list2 %>
                    <%= i = i + 1 %> <%= ". #{x}" %> <p> </p>
                <% end %>
            </div>

            <div style="background-color: #7D2222; width: 60px; height: 5px;"></div>
            <p id="spreadBtn3" class="btn03" style="font-size: 40px"><strong> 셋! </strong><%= @pledge.title3 %></p>
            <div id="hiddenList3" class="example03 shadow p-3 mb-5 bg-light rounded" style="display: none; font-size: 20px">
                <% @list3 = @pledge.content3.split(",") %>
                <% i = 0 %>
                <% for x in @list3 %>
                    <%= i = i + 1 %> <%= ". #{x}" %> <p> </p>
                <% end %>
            </div>
</body>
<footer class="navbar fixed-bottom navbar-light bg-light" style="height: 5%; background-color: #7D2222;">
  <%= link_to '수정', edit_pledge_path(@pledge) %> |
  <%= link_to '삭제', @pledge, method: :delete, data: { confirm: '관리자님 지우시겠어요?' } %> |
  <%= link_to '뒤로가기', pledges_path %> 
</footer>