<%= form_for(vote_log) do |f| %>
  <% if vote_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote_log.errors.count, "error") %> prohibited this vote_log from being saved:</h2>

      <ul>
      <% vote_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field">
      <!--<%= f.label :studentID %>-->
      <p>학번</p>
      <%= f.text_field :studentID %>
    </div>

    <div class="field">
      <!--<%= f.label :name %>-->
      <p>이름</p>
      <%= f.text_field :name %>    
    </div>


  <!--ajax??, new인 경우에만 나와야 함!   Check if record exists from controller in Rails
  <%= button_to '중복확인', action: "checkDouble", method: :post %>
-->
  <div class="field">
    <!--<%= f.label :image %>-->
    <p>인증사진</p>
    <%= f.file_field :image,
      accept: 'image/png, image/gif, image/jpeg' %>
  </div>

  <!--비밀번호 추가하기-->


<!--중복 확인된 경우에만 활성화!  안 된 경우에는 중복확인을 해 주세요 나타나있게 하기-->
  <div class="actions">
    <%= f.submit "응모하기"%>
  </div>
<% end %>
