
<!--<%= form_for(vote_log) do |f| %>
  <% if vote_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote_log.errors.count, "error") %> prohibited this vote_log from being saved:</h2>

      <ul>
      <% vote_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  -->



  <div class="field">
      <%= f.text_field :studentID, class: "vote-new-input mt-4", placeholder: "학번을 입력해주세요"%>
  </div>

  <div class="field">
    <span class = "vote-new-outerbox">
      <%= f.text_field :name, class: "vote-new-input mt-2", placeholder: "이름을 입력해주세요" %>    
    </span>
  </div>

  <p id = "check-warning">본인 인증과 중복 확인을 위해 인증 버튼을 눌러주세요!</p>
  <button type = "button" id = "checkButton">인증하기</button>

  <div class="field">
    <span class = "vote-new-outerbox">
      <%= f.text_field :phoneNum, class: "vote-new-input mt-4", placeholder: "핸드폰 번호를 입력해주세요"%>
    </span>
  </div>

  <div class="field">
    <span class = "vote-new-outerbox">
      <%= f.password_field :password, class: "vote-new-input mt-2", placeholder: "비밀번호를 입력해주세요"%>
    </span>
  </div>

  <div class="field">
    <%= f.file_field :image,
      accept: 'image/png, image/gif, image/jpeg' %>
  </div>


  <!--중복 확인된 경우에만 활성화!  안 된 경우에는 중복확인을 해 주세요 나타나있게 하기-->
  <div class="actions mt-3" id = "buttonDiv">
    <p class = "mb-1" style = "font-size: 0.8em;">아직 인증하지 않았습니다</p>
    <%= f.submit "응모하기", id: "submitButton"%>
  </div>
<% end %>
 

<script>
  document.getElementById("submitButton").disabled = true;
  
  document.getElementById("checkButton").addEventListener("click", function(){
      
    //get element by ID
    var studentIdIn = document.getElementById("studentID").value;
    var nameIn = document.getElementById("name").value;
    $.ajax({
      async : true,
      type : "POST",
      data : {studentID : studentIdIn, name : nameIn},
      url : "checkDouble",
      dataType : "json",
      success : function(data){
        
        console.log(data);
      
      
        if (data["IsStudent"] == 0){
            document.getElementById("check-warning").innerHTML = "본교 학생이 아닙니다ㅠㅠ";
        }
        else if (data["IsFirst"] == 0){
            document.getElementById("check-warning").innerHTML = "이미 참여하셨습니다ㅠㅠㅠ";
        }
        else if (data["IsStudent"] ==1 && data["IsFirst"] == 1){
          document.getElementById("check-warning").innerHTML = "인증이 성공했습니다!";
          document.getElementById("submitButton").disabled = false;
          //document.getElementById("buttonDiv").removeChild("p");
        }
        
    }
    })
    
  })
</script>