

<p id="notice"><%= notice %></p>

<p>
  <strong>Studentid:</strong>
  <%= @vote_log.studentID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @vote_log.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @vote_log.image %>
</p>

<%= link_to 'Edit', edit_vote_log_path(@vote_log) %> |
<%= link_to 'Back', vote_logs_path %>
